.container-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.img-jao {
    height: 15%;
    width: 15%;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}
.span {
       
    line-height: 15px;
    margin-bottom: 0px;

}
    
.aling{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #007A28;


}

.spanProf{
    line-height: 15px;
}
